.forum-add {
  position: relative;
  &__title {
    margin-bottom: 40px;
  }
  &__back {
    position: absolute;
    left: 40px;
    top: 40px;
  }
  &__input {
    margin-bottom: 20px;
  }
  &__editor {
    margin-bottom: 20px;
  }
  &__button {
    display: flex;
    justify-content: center;
  }
}
