:root {
  --text: #fff;
  --text-dark: #1a1a1a;
  --text-secondary: #b9b9b9;
  --auth-bg: rgba(0, 0, 0, .8);
  --shadow-input: 0 0 6px rgb(0 0 0 / 14%);
  --shadow-input-danger: 0 0 6px rgb(250 29 29 / 14%);
  --border-button: #fff;
  --danger: #af1616;
  --border-light: #dbdbdb;
  --bg-light: #fff;
  --bg-gray: #ececec;
  --highlight: #8484f3;
  --light-gray: #efefef;
}
