:root {
  --container-width: 940px;
  --container-padding: 20px;
  --border-radius-default: 15px;
  --border-radius-small: 5px;
  --border-radius-formfields: 8px;
  --auth-container-padding: 40px;
  --horisontal-line-color: white;
}
